body { color: #666; margin: 20px; font-family: Arial, Sans-Serif; background-color: #eeeeee; line-height: 1.2em; }
body#updatepage { line-height: 1.5em; }
#main { border: 1px solid #ccc; background-color: #fff; width: 600px; padding: 30px; opacity: 0.3; margin-bottom: 5px; font-size: 12px; }
h1 { margin: 0; }
#title, .i18_support { color: #DDD; font-size: 20px; font-weight: bold; }
.i18_support { color: #555; }
#title:hover { color: #CCC; }
td { vertical-align: top; color: #000; font-size: 12px; border-top: 1px solid #eee; padding: 5px 2px; }
tr.first td, td#t_table { border-top: none; }
tr.bottom td { border-bottom: 1px solid #eee; }
label { vertical-align: top; float: left; }
i { font-size: 11px; color: #000; line-height: 1.2em; }
div#newPagesRow { font-size: 12px; }
div#pageTitle { font-size: 12px; }
a { color: blue; }
input[type=image] { opacity: 0.5; }
#message { display: none; z-index: 999; color: #000; margin: 5px; position: fixed; top: 0; left: 0; padding: 5px; font-weight: bold; border: 1px solid #ffcc66; background-color: #ffffcc; }
#main:hover, input[type=image]:hover { opacity: 1; }
#test { width: 411px; height: 188px; background-image: url('../img/option/demo/background.png'); }
.list, textarea { width: 250px; max-height: 300px; overflow-y: auto; border: 1px solid #ccc; background-color: #eee; padding: 5px; }
textarea { min-height: 100px; font-family: Arial, Sans-Serif; }
#customcss { width: 100%; height: 200px; }
.listentry:hover, #customcss, #settingsimport { background-color: #fff; }
.clear { clear: both; }
.right, #sampleimage { float: right; }
.hide { display: none; }
#listMsg { display: none; color: #000; margin-left: 5px; }
#demo_favicon {
	position: relative;
    top: 24px;
    left: 28px;
}
#demo_title {
	position: relative;
    top: 12px;
    left: 50px;
	font-size: 11px;
}
#demo_content {
	margin: 24px 5px;
    padding: 14px 14px 13px;
	overflow: scroll;
	height: 109px;
}